/*----------------
    RESET
------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/

.img-fluid {
    max-width: 100%;
}

body {
    background-color: #F6F5F3;
    font-family: "Montserrat", sans-serif;
}

main {
    padding: 1.625rem;
}

.btn-eff:hover {
    background-color: yellow;
    transition: 0.7s;
}

/*----------------
    CONTAINER
------------------*/

.container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/*----------------
    TYPOGRAPHY
------------------*/

h1 {
    font-family: "Nerko One", cursive;
    font-size: 2.875rem;
    text-shadow: .0625rem .0625rem .125rem #333;
}

h2 {
    color: #4e3969;
    font-size: 1.75rem;
}

.presentation h2 {
    color: black;
    font-size: 1.75rem;
    padding-bottom: 1.25rem;
}

.presentation p {
   line-height: 1.8;
}

hr {
    color: orange;
    width: 20%;
}

h3 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1rem;
    color: gray;
}

/*-----------------
    HEADER
------------------*/

header {
    background-color: white;
    position: sticky;
    padding: 1.25rem;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 10;
    color: orange;
}

/*-----------------
    SECTION RECIPE-INTRO
------------------*/

.recipe-intro h2 {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.recipe-intro h2 > span {
   display: none;
}

.recipe-intro .col-video {
    width: 100%;
}

.recipe-intro .col-video img {
    width: 100%;
}

.recipe-intro .col-details {
    width: 100%;
    background-color: white;
    padding: 1.5625rem;
}

.col-details ul {
    list-style: none;
    padding-top: 1.875rem;
}

.col-details li {
    padding-top: 1.25rem;
}



/*-----------------
    SECTION BTN-SOCIAL
------------------*/

.col-btn {
    width: 100%;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.btn-social .col-banner {
    display: none;
}



.btn {
    background-color: white;
    font-family: inherit;
    border: none;
    border-radius: .9375rem;
    padding: .375rem .75rem;
    cursor: pointer;
    max-width: 100%;
    
}

.col-btn ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
}

.btn-large {
    padding: .625rem 1.25rem;
    font-size: 1rem;
}

.col-btn span {
    display: none;
 }

button {
    gap: 1.875rem;
 }


 /*-----------------
    SECTION PRESENTATION
------------------*/

.img-tiramisu {
    width: 18.75rem;
    margin: auto;
    display: block;
    padding-right: .625rem;
}

.details-img {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

/*------------------
    FOOTER
------------------*/
footer {
    background-color: #7C69A4;
    padding: 1.25rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;

    /* justify-content: space-between; */
}

footer .footer-left {
    align-items: center; 
}

footer .footer-right {
    display: flex;
}


.footer-nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
}

.footer-nav ul a {
    text-decoration: none;
    color: inherit
}

footer h4 {
    padding-bottom: 1.25rem;
}


/*-----------------
    RESPONSIVE
------------------*/

/*-----------------
    Large mobile (bonus) da 576px a infinito
------------------*/
@media screen and (min-width: 36rem) {
    .btn {
       
        width: 5.625rem;
         
     }
     }
/*-----------------
    Tablet da 768px a infinito
------------------*/

@media screen and (min-width: 48rem) {
    header {
        text-align: left;
    }

    .recipe-intro h2 > span {
        display: inline;
     }

     .btn {
       
       width: 8.125rem;
        
    }

     .col-details ul {
        display: flex;
        flex-wrap: wrap;
        gap: 3.75rem;
        
    }

    .btn-social .col-banner {
        width: 100%;
        display: inline;
        padding-bottom: 1.875rem;
    } 

    .col-btn span {
        display: none;
     } 

     .col-btn ul {
       gap: .625rem;
    }

     .img-tiramisu {
        float: left
    }

    footer .footer-right {
        justify-content: center;
        align-items: center;
    }

  
     
}

/*-----------------
    Desktop da 992px a infinito
------------------*/

@media screen and (min-width: 62rem) {

    .recipe-intro .col-video {
        width: 70%;
    }

    .recipe-intro .col-details {
        width: 30%;
    }

    .col-details ul {
        display: block;
    }

    .col-btn span {
        display: inline;
     } 

     .btn {
       
        width: 11.25rem;
         
     }

     .col-btn ul {
        gap: .3125rem;
     }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
    }

    footer .footer-left {
        text-align: left; 
    }

    footer .footer-right {
        text-align: right; 
    }
}

