/*----------------
    RESET
------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/

.img-fluid {
    max-width: 100%;
}

body {
    background-color: #F6F5F3;
    font-family: "Montserrat", sans-serif;
}

/*----------------
    TYPOGRAPHY
------------------*/

h1 {
    font-family: "Nerko One", cursive;
    font-size: 46px;
    text-shadow: 1px 1px 2px #333;
}

/*-----------------
    HEADER
------------------*/

header {
    background-color: white;
    position: sticky;
    padding: 1.25rem;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 10;
    color: orange;
}

/*-----------------
    RESPONSIVE
------------------*/

/*-----------------
    Tablet da 768px a infinito
------------------*/

@media screen and (min-width: 48rem) {
    header {
        text-align: left;
    }
}
